APP_NAME="MINI-RAG"
APP_VERSION="0.1"
APP_DESCRIPTION="A Retrieval-Augmented Generation (RAG) system for legal document analysis and question answering."
APP_AUTHOR="Fady Maher"
OPENAI_API_KEY="your_openai_api_key_here"
 
FILE_ALLOWED_TYPES=
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000

MONGO_DB_URL="mongodb://localhost:27007"
MONGO_DB_NAME="mini_rag"